name: Deploy Blog Application
on:
  push:
    branches:
      - main
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build and push backend image
        uses: docker/build-push-action@v4
        with:
          context: ./backend
          file: ./backend/Dockerfile
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/blog-backend:latest
      - name: Build and push frontend image
        uses: docker/build-push-action@v4
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/blog-frontend:latest
          build-args: VITE_BACKEND_URL=${{ secrets.VITE_BACKEND_URL}}
      - name: Deploy fullstack
        env:
          HOST: ${{ secrets.ALICLOUD_HOST }}
          USERNAME: ${{ secrets.ALICLOUD_USERNAME }}
          KEY: ${{ secrets.ALICLOUD_SSH_KEY }}
          DATABASE_URL: $${{ secrets.MONGODB_DATABASE_URL}}
          DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
        run: |
          echo "$KEY" > alicloud_key.pem
          chmod 600 alicloud_key.pem
          ssh -o StrictHostKeyChecking=no -T -i alicloud_key.pem $USERNAME@$HOST << 'EOF'
            docker pull "${DOCKERHUB_USERNAME}/blog-frontend:latest"
            docker pull "${DOCKERHUB_USERNAME}/blog-backend:latest"
            docker stop "${DOCKERHUB_USERNAME}/blog-frontend"
            docker stop "${DOCKERHUB_USERNAME}/blog-backend"
            docker system prune -f
            docker run -d -e PORT=3001 -e DATABASE_URL="$DATABASE_URL" -p 3001:3001 "${DOCKERHUB_USERNAME}/blog-backend"
            docker run -d -p 3000:80 "${DOCKERHUB_USERNAME}/blog-frontend"
          EOF
