name: Deploy Blog Application
on:
  push:
    branches:
      - main
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build and push backend image
        uses: docker/build-push-action@v4
        with:
          context: ./backend
          file: ./backend/Dockerfile
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/blog-backend:latest
      - id: deploy-backend
        name: Deploy backend
        env:
          HOST: ${{ secrets.ALICLOUD_HOST }}
          USERNAME: ${{ secrets.ALICLOUD_USERNAME }}
          KEY: ${{ secrets.ALICLOUD_SSH_KEY }}
        run: |
          echo $KEY > alicloud_key
          chmod 600 alicloud_key
          ssh -T -i alicloud_key $USERNAME@$HOST << 'EOF'
            docker pull zhjrcc/blog-backend:latest
            docker run -it -e PORT=3001 -e DATABASE_URL="mongodb+srv://zjrhello:MIYn2klyTk2ERgOd@blog.lihyk.mongodb.net/?retryWrites=true&w=majority&appName=blog" -p 3001:3001 zhjrcc/blog-backend         
          EOF
      - name: Build and push frontend image
        uses: docker/build-push-action@v4
        with:
          context: .
          file: ./Dockerfilew
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/blog-frontend:latest
          build-args: VITE_BACKEND_URL=http://8.138.180.252:3001/api/v1
      - id: deploy-frontend
        name: Deploy frontend
        env:
          HOST: ${{ secrets.ALICLOUD_HOST }}
          USERNAME: ${{ secrets.ALICLOUD_USERNAME }}
          KEY: ${{ secrets.ALICLOUD_SSH_KEY }}
        run: |
          echo $KEY > alicloud_key
          chmod 600 alicloud_key
          ssh -T -i alicloud_key $USERNAME@$HOST << 'EOF'
            docker pull zhjrcc/blog-frontend:latest
            docker run -it -p 3000:80 zhjrcc/blog-frontend
          EOF
