name: Deploy Blog Application_1
on:
  push:
    branches:
      - main
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy fullstack
        env:
          HOST: ${{ secrets.ALICLOUD_HOST }}
          USERNAME: ${{ secrets.ALICLOUD_USERNAME }}
          KEY: ${{ secrets.ALICLOUD_SSH_KEY }}
          DATABASE_URL: $${{ secrets.MONGODB_DATABASE_URL}}
          DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
        run: |
          echo "$KEY" > alicloud_key.pem
          chmod 600 alicloud_key.pem
          ssh -o StrictHostKeyChecking=no -T -i alicloud_key.pem $USERNAME@$HOST << 'EOF'
            echo "$USERNAME"
          EOF
